<%= form_with model: perk, local: true, html: { multipart: true } do |form| %>
  <% if perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
      <% perk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :partner_name %>
    <%= form.text_field :partner_name, id: :partner_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :partnerlogo %>
    <%= form.file_field :partnerlogo, id: :partnerlogo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :offer_title %>
    <%= form.text_field :offer_title, id: :offer_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :partner_description %>
    <%= form.text_field :partner_description, id: :partner_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :partner_website %>
    <%= form.text_field :partner_website, id: :partner_website, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :partner_area %>
    <%= form.text_field :partner_area, id: :partner_area, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :perk_code %>
    <%= form.text_field :perk_code, id: :perk_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :perk_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :smallimage %>
    <%= form.file_field :smallimage, id: :perk_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :perk_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-danger" %>
  </div>
<% end %>
