<% if current_user.try(:admin?) %>
  <h1>Ajout d'un nouveau perk</h1>
  <br>
  <%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> New Perk'), new_perk_path, class: "btn btn-danger" %>
  <br>
  <br>
  <hr>
<% end %>

<h1 class="mb-5">Catalogue d'offres</h1>

<div class="row">
  <% @perks.each do |perk| %>
    <div class="col-md-4">
      <div class="card">
        <%= link_to image_tag(perk.smallimage.url), perk, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= perk.offer_title %></h5>

          <div class="action">
            <%= link_to 'Accéder', perk, class: "btn btn-primary" %>
            <% if current_user.try(:admin?) %>
              <%= link_to 'Edit', edit_perk_path(perk), class: "btn btn-warning" %>
              <%= link_to 'Destroy', perk, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>