<%= link_to 'Retour au catalogue', perks_path %>
<%= image_tag @perk.image.url, class: "img-fluid" %>
<h2><%= @perk.partner_name %> | <%= @perk.offer_title %></h2>
<hr>
<div class="row">
	<div class="col-md-6">
		<h3>Description Partenaire</h3>
		<p><%= @perk.partner_description %></p>
		<br>
		<h3>Site internet</h3>
		<p><%= @perk.partner_website %></p>
		<br>
		<h3>Zone d'utilisation</h3>
		<p><%= @perk.partner_area %></p>
	</div>
	<div class="col-md-6">
		<h3>Description de l'offre</h3>
		<p><%= @perk.description %></p>
		<br>
		<h3>Offre</h3>
		<p>
			<% if user_signed_in? %>	
				<%= @perk.perk_code %>
			<% else %>
				Inscrivez-vous pour connaitre le code
			<% end %>
		</p>
		<br>
		<h3>Logo Partenaire</h3>
		<%= image_tag @perk.partnerlogo.url, class: "img-thumbnail" %>
	</div>

  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_perk_path(@perk), class: "btn btn-warning" %>
    <%= link_to 'Destroy', @perk, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
		    
</div>