<div class="center">
	<h1>Welcome on Workeers</h1>
	<% if user_signed_in? %>
		<%= link_to 'Accéder au catalogue', perks_path, class: "btn btn-primary" %>
	<% else %>
		<p>Please <%= link_to "Log in", new_user_session_path, class: "btn btn-danger" %> or <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark" %></p>
	<% end %>
</div>