<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Workeers", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "À propos", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Catalogue", perks_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-danger" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

